#FenInDiv{
    position:relative;
    left:60px;
}

#fenIn{
    width: 375px;
    left:60px;
}

#board{
    position:relative;
    top:20px;
    left:100px;
    width: 480px;
    height: 480px;
    border-style:solid;
    border-width:1px;
}

.Square{
    position:absolute;
    width: 60px;
    height: 60px;
}

.Dark{
    background-color: #FFB6C1;
}

.Light{
    background-color: #FFF0F5;
}

.rank1{top:420px;}
.rank2{top:360px;}
.rank3{top:300px;}
.rank4{top:240px;}
.rank5{top:180px;}
.rank6{top:120px;}
.rank7{top:60px;}
.rank8{top:0px;}

.file1{left:0px;}
.file2{left:60px;}
.file3{left:120px;}
.file4{left:180px;}
.file5{left:240px;}
.file6{left:300px;}
.file7{left:360px;}
.file8{left:420px;}

.Piece{
    position:absolute;
    width: 60px;
    height: 60px;
}